.pl-header {
  /* color: blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl-header-btn {
  font-size: 1rem;
}

.add-section {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.btn-addplant {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
