.App 
{
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) 
{
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

html,
body {
  margin: 0%;
  padding: 0%;
  min-height: 100%;
  width: 100%;
}

header 
{
  background-color: lightblue;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid black 2px;
  padding-right: 25px;
}

.labelDiv 
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.5%;
  height: 3vh;
}

h1 
{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  justify-content: left;

  padding-right: 40px;
}

body 
{
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  color: #3a5f0b;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background: url(back5.jpg);
  overflow: hidden;
}

.ButtonStyle 
{
  background-color: #3a5f0b;
  font-size: 1rem;
  color: white;
}

.ButtonStyle1 
{
  background-color: #3a5f0b;
  font-size: 1rem;
  color: white;
}

.signup-wrap 
{
  padding-top: 1rem;
  width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.signup-textfield 
{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.signup-btn-reset 
{
  margin-left: 1rem;
}

.signup-error 
{
  position: absolute;
  color: red;
  font-size: 0.7rem;
}

.login-form 
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
}

.login-input 
{
  width: 10rem;
}

.login-btn 
{
  height: 2rem;
  font-size: 1rem;
}

.header-wrap 
{
  display: flex;
  align-items: center;
}

.addplant-wrap {
  background-color: white;
  width: 40rem;
  height: 30rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.editplant-wrap {
  background-color: white;
  width: 40rem;
  height: 30rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.addplant-wrap div {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.editplant-wrap div 
{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.addplant-title {
  margin-bottom: 1rem;
  padding: 0px;
}

.editplant-title 
{
  margin-bottom: 1rem;
  padding: 0px;
}

.addplant-waterinputtitle {
  font-size: 1rem;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.addplant-form {
  /* background-color: red; */
  width: 20rem;
}

.editplant-form 
{
  /* background-color: red; */
  width: 20rem;
}

.addplant-error {
  color: red;
  position: absolute;
  font-size: 0.7rem;
  transform: translateY(3.5rem);
}
