.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

html,
body {
  margin: 0%;
  padding: 0%;
  min-height: 100%;
  width: 100%;
}

header {
  background-color: lightblue;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: white;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.login-title {
  font-family: "Style Script", cursive;
  margin-bottom: 0px;
  text-shadow: rgb(18, 112, 156) 0px 0px 10px;
  font-size: 2.5rem;
}

.login-right {
  display: flex;
}

.labelDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.5%;
  height: 3vh;
}

body {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  /* color: #3a5f0b; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background: url(back5.jpg); */
  background: linear-gradient(to bottom, transparent, 80%, rgb(195, 195, 186)),
    url(back5.jpg);
  /* overflow: hidden; */
}

.signup-wrap {
  padding-top: 1rem;
  width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.signup-textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.signup-btn-reset {
  margin-left: 1rem;
}

.signup-error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
  transform: translateY(4rem);
}

.login-error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}

.signup-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-blend {
  width: 100%;
  height: 2rem;
  background: linear-gradient(lightblue, rgb(233, 232, 230));
}

.login-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
}

.login-input {
  width: 10rem;
}

.login-btn {
  height: 2rem;
  /* width: 3rem; */
  font-size: 1rem;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.addplant-wrap {
  background-color: white;
  width: 40rem;
  height: 30rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.addplant-wrap div {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.addplant-title {
  margin-bottom: 1rem;
  padding: 0px;
  text-align: left;
  width: 20rem;
}

.addplant-waterinputtitle {
  font-size: 1rem;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.addplant-form {
  /* background-color: red; */
  width: 20rem;
}

.addplant-error {
  color: red;
  position: absolute;
  font-size: 0.7rem;
  transform: translateY(3.5rem);
}

.plantlist-header {
  width: 100%;
}

.card-section {
  margin: auto;
}

.plant-card {
  background-color: blue;
}

.dynamic-progress-bar {
  background-color: lightblue;
  width: 100%;
  float: right;
  position: absolute;
  left: 0;
}

.footer {
  /* background-color: rgb(195, 195, 186); */
  height: 5rem;
  margin: 0px;
  padding-top: 2rem;
}

.footerText {
  margin: 0px;
  color: white;
  font-size: 1.5rem;
  text-shadow: rgb(82, 82, 82) 0px 0px 4px;
}
.footer a {
  text-decoration: none;
}

.footerText:hover {
  color: rgb(241, 239, 239);
  text-shadow: rgb(158, 158, 158) 0px 0px 4px;
}

.homepage-content {
  height: 40rem;
}

.homepage-imgwrap {
  width: 40rem;
  border-radius: 2rem;
  /* height: 20rem; */
  /* background-color: red; */
}

.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-img {
  width: 100%;
  /* border-radius: 2rem; */
  opacity: 0.8;
}

.hero-text-wrap {
  display: flex;
  flex-direction: column;
  background-color: rgb(176, 175, 179);
  height: 25rem;
  width: 20rem;
  margin-left: 4rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.row {
  font-family: "Style Script", cursive;
  /* background-color: red; */
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  text-align: left;

  /* margin: 0px; */
}

.row h3 {
  margin: 0px;
  width: 100%;
  font-size: 3rem;
  /* height: 25%; */
}

.hero-text-row2,
.hero-text-row4 {
  width: 60%;
  align-self: flex-end;
}

@media only screen and (max-width: 1100px) {
  .homepage-imgwrap {
    width: 30rem;
  }
}

@media only screen and (max-width: 900px) {
  .homepage-content {
    flex-direction: column;
    margin-top: 2rem;
    height: auto;
  }
  .hero-text-wrap {
    margin-left: 0px;
    margin-top: 2rem;
  }
  .header-wrap {
    flex-direction: column;
    height: 12rem;
  }
}

@media only screen and (max-width: 670px) {
  .addplant-wrap {
    /* background-color: red; */
    width: 100%;
  }

  .addplant-form {
    width: 90%;
  }
  .addplant-title {
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .homepage-imgwrap {
    display: none;
  }

  .login-form {
    flex-direction: column;
  }

  .login-form button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .loginTextField {
    margin-bottom: 1rem;
  }

  .header-wrap {
    height: 20rem;
  }

  .signup-wrap {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
